<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li>
            <a href="/patients" style="display: flex; column-gap: 5%"><i class="fa fa-user fa-2x" aria-hidden="true"></i> <span style="font-size: 18px; color: white"> Пациенттер</span>
            </a>
        </li>
        <li>
            <a href="/departments" style="display: flex; column-gap: 8%"><i class="fa fa-window-maximize fa-2x" aria-hidden="true"></i> <span style="font-size: 18px; color: #3cad3c"> Болумдор</span>
            </a>
        </li>
        <li th:if="${role} == 'ADMIN'">
            <a href="/users" style="display: flex; column-gap: 5%"><i class="fa fa-user-md fa-2x" aria-hidden="true"></i> <span style="font-size: 18px; color: orange"> Администрация</span>
            </a>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
