<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1><a href="/patients"><i class="fa fa-user" aria-hidden="true"></i> Пациенттер</a></h1>
    <h1><a href="/analyses"><i class="fa fa-id-card" aria-hidden="true"></i> Анализдер</a></h1>
    <h1><a href="/departments"><i class="fa fa-window-restore" aria-hidden="true"></i> Болумдор</a></h1>
</div>
</body>
</html>
